Rreading and printing the data from the file

In [939]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
rf = pd.read_csv("data.csv")
x=rf.drop(columns=['j:t'])
y = rf.drop(columns=['a:n', 'b:c', 'c:c', 'd:n',
            'e:b', 'f:b', 'g:c', 'h:c', 'i:b'])
le = LabelEncoder()
ypreproc = pd.DataFrame.copy(y)
ypreproc['j:t'] = le.fit_transform(ypreproc['j:t'])
x_preproc = pd.DataFrame.copy(x)
x_preproc['b:c'] = le.fit_transform(x_preproc['b:c'])
x_preproc['c:c'] = le.fit_transform(x_preproc['c:c'])
x_preproc['g:c'] = le.fit_transform(x_preproc['g:c'])
x_preproc['h:c'] = le.fit_transform(x_preproc['h:c'])
x_preproc['e:b'] = le.fit_transform(x_preproc['e:b'])
x_preproc['f:b'] = le.fit_transform(x_preproc['f:b'])
x_preproc['i:b'] = le.fit_transform(x_preproc['i:b'])
#x_preproc['j:t'] = le.fit_transform(x_preproc['j:t'])
xr = x_preproc
yr=ypreproc
xr

     a:n  b:c  c:c  d:n  e:b  f:b  g:c  h:c  i:b
0     24    1    2    3    1    0    1    2    1
1     45    0    2   10    1    0    2    3    1
2     43    1    2    7    1    0    2    3    1
3     42    2    1    9    1    0    2    2    1
4     36    2    2    8    1    0    2    1    1
..   ...  ...  ...  ...  ...  ...  ...  ...  ...
995   21    1    0    3    1    1    2    0    0
996   25    1    2    4    1    1    2    1    1
997   28    1    2    6    1    0    1    3    1
998   36    1    3   11    1    0    0    3    0
999   46    0    1    9    1    1    2    3    0

[1000 rows x 9 columns]

split the data for training and testing data

In [970]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(xr,yr,test_size=0.2)
y_test

     j:t
849    0
143    1
861    0
55     1
677    0
..   ...
204    1
346    1
391    1
537    0
868    0

[200 rows x 1 columns]

KNN implemtation

In [941]:
import numpy as np
def destance_evaluation(first,second):

    destance =0 
    destance+=np.abs(first['a:n'] - second['a:n'])
    destance += np.abs(first['d:n'] - second['d:n'])
    if first['b:c'] != second['b:c']:
        destance+=1
    if first['c:c'] != second['c:c']:
        destance += 1
    if first['f:b'] != second['f:b']:
        destance += 1
    if first['e:b'] != second['e:b']:
        destance += 1
    if first['g:c'] != second['g:c']:
        destance += 1
    if first['h:c'] != second['h:c']:
        destance += 1
    if first['i:b'] != second['i:b']:
        destance += 1
    #print(destance)
    return destance

In [942]:
def get_the_knn(sample,k):
    temp = list()
    
    for i in range(len(rf['a:n'])):
        l =[]
        l.append(i)
        l.append(destance_evaluation(sample, rf.iloc[i]))
        temp.append(l)
    temp.sort(key = lambda x :x[1])
    temp = temp[1:k+1]
    # print(temp)
    return temp

In [943]:
from random import randint
from collections import defaultdict
def knn():
    
    result = {}
    five_random_elemnet = {}
    for i in range(5):
        r = randint(0, 999)
        five_random_elemnet[r] = rf.iloc[r]
        
    
    for j in five_random_elemnet:
        result[j]=(get_the_knn(five_random_elemnet[j],3))
   
    for i in result:
        print(f"\nsample number {i}: \nthe three neraest naboures: \n")
        for j in range(len(result[i])):
            
            print(f"sample number\t   destance\n  {result[i][j][0]}\t\t\t{result[i][j][1]}\n")

In [944]:

knn()

sample number 534:
the three neraest naboures:

sample number	   destance
  545			2

sample number	   destance
  66			3

sample number	   destance
  257			3


sample number 349:
the three neraest naboures:

sample number	   destance
  452			0

sample number	   destance
  252			1

sample number	   destance
  302			1


sample number 249:
the three neraest naboures:

sample number	   destance
  485			4

sample number	   destance
  999			5

sample number	   destance
  9			7


sample number 706:
the three neraest naboures:

sample number	   destance
  244			3

sample number	   destance
  440			3

sample number	   destance
  505			3


sample number 420:
the three neraest naboures:

sample number	   destance
  463			2

sample number	   destance
  492			2

sample number	   destance
  835			2

10 Flod cross validation and find the value of k from {1,2,3,4,5}

In [1047]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=10,shuffle=True,random_state=1)

#10 flod cross validation
for train,test in kf.split(range(x_train.shape[0])):
    x_tr =x_train.iloc[train]
    x_tes = x_train.iloc[test]
    y_tr = y_train.iloc[train]
    y_tes = y_train.iloc[test]
    
    print('Size of dataset: x_traing = {}, x_test = {}, y_train = {}, y_test {}'.format(
        len(x_tr), len(x_tes), len(y_tr), len(y_tes)))

Size of dataset: x_traing = 720, x_test = 80, y_train = 720, y_test 80
Size of dataset: x_traing = 720, x_test = 80, y_train = 720, y_test 80
Size of dataset: x_traing = 720, x_test = 80, y_train = 720, y_test 80
Size of dataset: x_traing = 720, x_test = 80, y_train = 720, y_test 80
Size of dataset: x_traing = 720, x_test = 80, y_train = 720, y_test 80
Size of dataset: x_traing = 720, x_test = 80, y_train = 720, y_test 80
Size of dataset: x_traing = 720, x_test = 80, y_train = 720, y_test 80
Size of dataset: x_traing = 720, x_test = 80, y_train = 720, y_test 80
Size of dataset: x_traing = 720, x_test = 80, y_train = 720, y_test 80
Size of dataset: x_traing = 720, x_test = 80, y_train = 720, y_test 80